
.title{
        margin-left: 150px;
        margin-top: 30px;
    }
    .cube-wrapper {
        width: 200px;
        height: 200px;
        top: 150px;
        left: 150px;
        position: absolute;
        box-shadow: 10px 10px 54px -6px rgba(0,0,0,0.75);
        border-radius: 15px;
    }
    .cube-wrapper2 {
        width: 200px;
        height: 200px;
        top: 150px;
        left: 390px;
        position: absolute;
        box-shadow: 10px 10px 54px -6px rgba(0,0,0,0.75);
        border-radius: 15px;
    }
    .cube-wrapper3 {
        width: 440px;
        height: 200px;
        top: 400px;
        left: 150px;
        position: absolute;
        box-shadow: 10px 10px 54px -6px rgba(0,0,0,0.75);
        border-radius: 15px;
    }
    p span {
        display: inline-block;
        position: relative;
        overflow: hidden;
        font-size: 40px;
    }
    p span::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transform: translateX(-100%);
    }
        p:nth-child(1) {
            font-weight: 300;
            animation: txt-appearance 0s 0.5s forwards;
        }
        
        p:nth-child(1) span::after {
            background: #1d1b31;
            animation: slide-in 0.75s ease-out forwards,
            slide-out 0.75s 0.5s ease-out forwards;
        }
        

        @keyframes slide-in {
            100% {
                transform: translateX(0%);
            }
        }
        @keyframes slide-out {
            100% {
                transform: translateX(100%)
            }
        }
        @keyframes txt-appearance {
            100% {
                color: #222;
            }
        }
        a:hover{
          text-decoration: underline;
        }
        .user-result-li{
            display: block;
        }